<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <%- include ('./Partials/navbar.ejs') %> 
  <body>
      
    <div id="resultTitle"><%= result.Title %></div>
    <div id="resultPlot"><%= result.Plot %></div>
    <div id="resultYear"><%= result.Year %></div>
    <div id="resultDirector"><%= result.Director %></div>
    <div id="resultMetaScore"><%= result.Metascore %></div>
    <div id="resultIMDBRating"><%= result.imdbRating %></div>
    <img src="<%- result.Poster %>">
    <script type="text/javascript" src="/js/displayFunctions.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    
  </body>
    
</html>
