<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KINO V2</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <%- include ('./Partials/navbar.ejs') %>
  <body>
    <ul>
      <% for (var i = 0; i < result.Search.length; i++) { %>
      <li>
        <a href="/movieCard/<%= result.Search[i].Title %>" name="<%= result.Search[i].Title %>"><%= result.Search[i].Title %></a>
        <img src="<%- result.Search[i].Poster %>">         
      </li>
      <% } %>
    </ul>
  </body>
  <script type="text/javascript" src="/js/displayFunctions.js"></script>  
</html>
